name: GitHub Space Shooter

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run GitHub Space Shooter
        uses: czl9707/gh-space-shooter@v1.0.0
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
